body, html {
            margin: 0;
            height: 100%;
        }

.name{
display: flex;
margin-top: 1px;
}

.characters{
    display: block;
    width: 100px;
    height: 100px;
    margin-left: 1000px;
    background-color: white;
}
#title_img{
    margin-left: 600px;
}
#competition_menu{
    display:flex;
    margin-left: 805px;
    margin-top: 100px;
    height: 50px;
    width: 200px;
    font-size: 35px;
    background-image: url("img/mkc_blood.png");
    background-size: cover;
    background-position: center;
    border-radius: 10%;
}
#character1{
   position: fixed;
   margin-left: 50px;
   top: 50px;
}
#character2{
    position: fixed;
    margin-left: 50px;
    top: 250px;
}
#character3{
    position:fixed;
    margin-left: 350px;
    top: 170px;
}
#character4{
    position:fixed;
    margin-left: 50px;
    top: 500px;
}
#character5{
    position: fixed;
    margin-left: 50px;
    top: 700px;
}
#character6{
    position: fixed;
    margin-left: 350px;
    top: 620px;
}
#character7{
    position: fixed;
    right: 50px;
    top: 50px;
}
#character8{
    position: fixed;
    right: 50px;
    top: 250px;
}
#character9{
    position: fixed;
    right: 350px;
    top: 170px;
}
#character10{
    position: fixed;
    right: 50px;
    top: 500px;
}
#character11{
    position: fixed;
    right: 50px;
    top: 700px;
}
#character12{
    position: fixed;
    right: 350px;
    top: 620px;
}
#character13{
    position: fixed;
    margin-left: 600px;
    top: 370px
}
#character14{
    position: fixed;
    right: 600px;
    top: 370px;
}
#character15{
    position: fixed;
    right: 890px;
    top: 370px;
}
#winner_img{
    position: fixed;
    right: 880px;
    top: 250px;
    width: 150px;
}
#comp_mk_logo{
    position: fixed;
    margin-left: 740px;
    width: 400px;
    top: 0px;
}
#button_start{
    position: fixed;
    right: 820px;
    bottom: 200px;
    height: 100px;
    width: 300px;
    font-size: 35px;
    border-radius: 10%;
    background-color: red;
    color: white;
}
#btn_create_character{
    display:flex;
    margin-left: 805px;
    margin-top: 80px;
    height: 40px;
    width: 200px;
    font-size: 24px;
    border-radius: 10%;
}
#form{
    position: fixed;
    left:780px
}
#dad_div2{
    display: flex;
}
